.filter select {
  width: 170px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px #aaa;
  margin: 10px;
  background: #eee;
}

.form-check {
  text-align: left;
  float: left;
  margin-top: -45px;
  width: 390px;
  padding: 80px;
}

.filter input {
  margin: 30px;
  width: 60%;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: #eee;
}

* {
  outline: none;
}

ul {
  padding: 0;
}

.saring {
  font-size: larger;
  margin: -10px 0 20px 0;
  text-align: left;
  font-weight: 600;

}