#transmenu {
  -moz-transition: background 0.6s ease;
  -webkit-transition: background 0.6s ease;
  transition: background 0.6s ease;
}

#transmenu.transparency {
  background: transparent !important;
  box-shadow: none;
  border-color: transparent !important;
}

#transmenu .navbar-brand {
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#transmenu.transparency .navbar-brand {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #fff !important;
  border: none;
}

#transmenu.transparency .nav-link, #transmenu.transparency .nav-link.active, #transmenu.transparency .nav-link:focus {
  color: #fff;
  border: none;
  opacity: 1;
}

#transmenu.transparency .nav-link:hover {
  color: #fff;
  opacity: .7;
}

#transmenu .navbar-toggler {
  position: relative;
  height: 35px;
  margin-right: -.75rem;
  border: none;
}

#transmenu .navbar-toggler:focus, #transmenu .navbar-toggler:active {
  outline: 0;
}

#transmenu .navbar-toggler span {
  display: block;
  background-color: #6f6f6e;
  height: 2px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

#transmenu.transparency .navbar-toggler span {
  background: #fff;
}

#transmenu .navbar-toggler span:nth-child(1), #transmenu .navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
  -moz-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}

#transmenu .navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

#transmenu .navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

#transmenu .navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

.bg-muslim.d-flex.align-items-center {
  border-radius: 0 0 20px 20px;
  display: block;
  height: 80px;
  background: linear-gradient(140deg, rgba(56,178,99,1) 45%,rgba(22,165,182,1)100%);
}

.nav.navbar-nav.ml-auto.tebal {
  font-weight: 400;
}
