.cust_bloglistintro h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
}

@media (max-width:767px) {
  .cust_bloglistintro h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.cust_bloglistintro {
  max-width: 500px;
  margin: 0 auto;
}

.cust_blogteaser {
  text-align: left;
  padding-top: 40px;
  min-height: 425px;
}

.cust_blogteaser p {
  font-size: 14px;
}

.cust_blogteaser h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

