$warnaRed : #F2334E;
$warnaPutih : #FFFFFF;
$warnaHitam : #333333;

.body {
  font-family: Roboto !important;
}

.navbar {
  top: 27px !important;
  left: 65px;
  width: auto;
  height: 34px;
  // background-color: #214981;
}

.fixed-top {
  position: relative !important;
}

.nav-link.navdaftar {
  display: none;
}

.nav-link.mnavmasuk {
  display: none;
}   

.navbar-nav {
  text-align:right;
}

.navSign {
  margin-right: 280px;
}

.navbar .navhome {
  margin-right: 20px !important;
  text-align: left;
  width:40px;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: $warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navtentangkami {
  margin-right: 20px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color:$warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navlayanan {
  margin-right: 20px !important;
  text-align: left;
  margin-top: 0px !important;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: $warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navberita {
  margin-right: 20px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color:$warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navkontak {
  margin-right: -50px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: $warnaPutih !important;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navmasuk {
  margin-left: 170px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .daftar {
  color: #ffffff;
  background-color: #28a745;
  border-color: #28a745;
  font-weight: 700;
}

.navbar .navhome2 {
  margin-right: 60px !important;
  text-align: left;
  width:40px;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navtentangkami2 {
  margin-right: 60px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navlayanan2 {
  margin-right: 60px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navberita2 {
  margin-right: 60px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}

.navbar .navkontak2 {
  margin-right: 60px !important;
  text-align: left;
  letter-spacing: 0px;
  font-family: Roboto !important;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  opacity: 1;
}

#font{
  outline: none !important;

}
.navbar .daftar:hover {
  color: #ffffff;
  background-color: #107127;
  border-color: #28a745;
  font-weight: 700;
}


.navbar .masuk {
  color: #FFFFFF !important;
  border-right: 1px #ffffff;
  box-shadow: 0px 0px 2px #ffffff;
  border-top: none;
  border-bottom: none;
  border-left: none;
  font-weight: 700;
  width: 125px;
  text-align: center;
}

.navbar .masuk:hover {
  color: #ffffff;
  border-right: 3px solid #ffffff;
  font-weight: 700;
}

.headtopp{
  top: 99px;
  width: 625px;
  height: 173px;
}

.detailheadtopp{
  top : 119px;
  text-align: left;
  font: Bold 32px/50px Poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.subheadtopp {
  margin-top: 40px;
  text-align: justify;
  font: 16px/30px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.beliBtn {
  margin-top: 30px;
  width: 204px;
  height: 36px;
  background: $warnaRed 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px $warnaRed 3D;
  border-radius: 6px;
  opacity: 1;
}

.bghead {
  background: url('assets/img/home/bgilustrasi.svg') no-repeat padding-box;
  background-position: top left 630px;
  background-size: 770px;
  max-width: 1400px;
  height: 626px;
}

.bgtop {
  background: url('assets/img/home/html/onstore/topilustrasi.svg') no-repeat padding-box;
  background-position: right;
  background-size: 105%;
  // width: 515px !important;
  height: 515px;
  left: 0px;
  top :10px;
  max-width: 1400px;
}

.backgr {
  top: -380px;
  left: 130px;
  height: 535px;
  background: $warnaRed 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius:400px 0px 80px 0px;
}

.tentangapp {
  text-align: center;
  margin-top: 140px;
}

.headtentang {
  text-align: center;
  font: Bold 30px/44px Poppins;
  letter-spacing: 0pt;
  color: #333333;
  opacity: 1;
}

.childTentang {
  text-align: center;
  font: 16px/30px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  padding-bottom: 30px;
}

.isitentangappon {
  text-align: center;
  width: 900px;
  padding-left: 50px;
  line-height: 5px;
  padding-right: 50px;
  margin-left: 90px;
  font: 15px/30px Roboto;
  letter-spacing: 0px;
  color: #333333;
}

.p1 {
  line-height: 1.5;
}

.olehpt {
  padding-top:30px;
  text-align: center;
  font: bold 15px/30px Roboto;
  letter-spacing: 0px;
  color: #333333;
}

.pendaftaranapp {
  text-align: center;
  margin-top:150px;
}

.headpendaftaran {
  font: Bold 26px/44px Poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.choosePaket {
  padding-top: 110px !important;
}

.widthPaket {
  background: #E9E9E9 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  margin: auto;
  width: 281px;
  height:818px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07);
  // border: 3px solid green;
  padding: 10px;
}

.titlePaket {
  top: 897px;
  left: 249px;
  // width: 138px;
  width: 156px;
  height: 75px;
  text-align: center;
  font: Bold 18px/25px Poppins;
  letter-spacing: 0px;
  opacity: 1;
  padding: 10px;
  margin: auto;
}

.bgtitlePaket {
  border-radius: 10px 10px 20px 20px;
  margin-top: -10px;
  margin-left: -10px;
  top: 868px;
  left: 178px;
  width: 281px;
  height: 118px;
  background: #F6F6F6 0% 0% no-repeat padding-box;
  opacity: 1;
}

.diskonPaket {
  color:$warnaRed;
}

.coretPaket {
  text-decoration: line-through;
}

.groupcontentPaket {
  margin-top:50px;
}

.groupcontentPaketBisnis {
  margin-top:-6px;
}

.contentPaket {
  padding: 6px;
  text-align: center;
  font: bolder 15px/25px Poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.subcontentPaket {
  text-align: center;
  font: 14px/23px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.garisPaket {
  border: 1px solid #F6F6F6;
  opacity: 1;
  margin-left: 15px;
  width: 244px;
}

.garisPaketLaris {
  border: 1px solid $warnaRed;
  opacity: 1;
  margin-left: 15px;
  width: 244px;
}

.beliBtnPaket {
  margin-top: 10px;
  width: 204px;
  height: 36px;
  background: $warnaRed 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px $warnaRed 3D;
  border-radius: 6px;
  opacity: 1;
}

.titlePaketBisnis {
  margin-top: -25px;
}

.titlePaketPro {
  margin-top: 30px;
}

.imgTerlaris {
  margin-left : -35px;
}

.terlarisPaket {
  background: url('assets/img/home/html/onstore/Group 15276.svg') no-repeat padding-box;
}

.pendaftaranTentang {
  text-align: center;
  font: 16px/26px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  padding-bottom: 20px;
}

.pengusahaCard{
  width: 310px;
  height: 370px;
  background: url('assets/img/home/html/cardpengusaha.svg') no-repeat padding-box;
  background-size: cover;
  border-radius: 20px;
  opacity: 1;
}

.pengusahaRight {
  margin-left: 180px;
}

.judulpengusaha{
  text-align: center;
  font: bold 26px/44px Poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.subjudulpendaftaran {
  padding-top: 20px;
  text-align: center;
  font: 16px/26px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.daftarBtnPendaftaran {
  width: 204px;
  height: 36px;
  background: $warnaRed 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px $warnaRed 3D;
  border-radius: 6px;
  opacity: 1;
}

.carousel-indicators li {
  box-sizing: inherit !important;
}

.carousel-control-next, .carousel-control-prev {
  margin-top: 100px;
}

.carousel-control-prev-icon {
  width: 40px !important;
  height: 40px !important;
  margin-left: -140px;
}

.carousel-control-next-icon {
  width: 40px !important;
  height: 40px !important;
  margin-left: 140px;
}

.contentpendaftaran {
  padding-top: 30px;
}

.bgslidapp {
  background: transparent url('assets/img/home/smartphone_mockup@2x.png') 0% 0% no-repeat padding-box;
  height: 477px;
  background-size:100%;
}

.bgsliddark {
  background: #333333 0% 0% no-repeat padding-box;
  height: 476px;
  background-size:100%;
}

.judulsliddark {
  text-align: left;
  font: Bold 28px/44px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  padding-top: 126px;
  padding-left: 84px;
  padding-bottom: 26px;
}

.subsliddark {
  text-align: left;
  padding-left: 84px;
  font: 16px/28px Roboto;
  letter-spacing: 0.16px;
  color: #FFFFFF;
  opacity: 1;
}

.beritaapp {
  text-align: center;
  margin-top:80px;
  padding-top: 50px;
}

.headberita {
  font: Bold 28px/44px Poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.beritatentang {
  text-align: center;
  font: 16px/26px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  padding-bottom: 50px;
}

.cardberita {
  background: #E9E9E9 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 12px #00000024;
  border-radius: 20px;
  opacity: 1;
  width: 346px;
  height: 437px;
  background-size: 100%;
  opacity: 1;
  margin-left: 51px;
  padding-top:142px;
  padding-left:0px;
}

.mberitaRow {
  padding : 0px;
}

.judulberita {
  text-align: left;
  font: Bold 16px/26px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.midberita {
  font-size: 10px;
  padding-top: 10px;  
}

.bgjudulberita {
  background: #333333 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 0px 0px 0px 5px;
  width: 105.3%
}

.descjudulberita {
  text-align: left;
  font: 14px/24px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.padjudulberita {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.BtnSelengkapnya {
    width: 204px;
    height: 36px;
    background: #FFA127 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 3px #FFA127;
    border-radius: 6px;
    opacity: 1;
    color: #FFA127 !important;
}

.BtnArtikel {
  width: 204px;
  height: 36px;
  background: rgba(242,51,78,1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px rgba(242,51,78,1);
  border-radius: 6px;
  opacity: 1;
  color: rgba(242,51,78,1) !important;
}

.footer {
  margin-top: 60px;
  background: transparent linear-gradient(180deg, $warnaRed 0%, #F05C72 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.bgfooter {
  background: transparent url('assets/img/home/html/footerilustrasi.svg') 0% 0% no-repeat padding-box;
  background-size: 100%;
  opacity: 1;
  width: 463px;
  height: 361px;
  margin-top: -265px;
}

.foot1 {
  padding-left: 290px !important;
  padding-top: 75px;
  text-align: left;
  font: 14px/17px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.foot2 {
  padding-top:75px;
  padding-left: 290px !important;
  text-align: left;
  font: 14px/17px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.foot3 {
  font: 14px/17px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.foot4 {
  font: 14px/17px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-top:-30px;
  text-align: center;
}

.btnIcon {
  color : #FFFFFF;
}

.btnIcon:hover {
  color: #ffffff;
  border-right: 0px solid #ffffff;
  font-weight: 700;
  text-decoration: none;
}

.paddingDaftar {
  padding-top: 200px;
  text-align: center;
  padding-bottom: 300px;
}

.textSigninDaftar {
  text-align: center;
  font: bold 22px/39px Poppins;
  letter-spacing: 0px;
  margin-left:180px;
  color: #FFFFFF;
  opacity: 1;
}

.bgheadSignin {
  background: url('assets/img/home/bgilustrasi.svg') no-repeat padding-box;
  background-position: top right -120px;
  background-size: 50%;
  max-width: 1400px;
}

.daftarBtnSignin {
  margin-top: 30px;
  // margin-left:180px;
  color : #FFFFFF !important;
  width: 204px;
  height: 36px;
  background: $warnaRed 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px $warnaRed 3D;
  border-radius: 6px;
  opacity: 1;
  border: 1px solid #FFFFFF !important;
  opacity: 1;
}

.daftarBtnSignup {
  margin-top: 30px;
  margin-left:180px;
  color : #FFFFFF !important;
  width: 204px;
  height: 36px;
  background: $warnaRed 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px $warnaRed 3D;
  border-radius: 6px;
  opacity: 1;
  border: 1px solid #FFFFFF !important;
  opacity: 1;
}

.headtopp2{
  padding-top : 119px;
}

.detailheadtoppSign{
  top : 119px;
  text-align: left;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.colorSign {
  background-color :$warnaRed !important
}

.subheadtoppSign {
  margin-top: 40px;
  text-align: justify;
  font: 19px/44px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.headtopp3{
  padding-top : 100px;
}

.titleModalDaftar {
  margin-left : auto;
  margin-right: auto;
  padding-top: 50px;
  text-align: center;
  font: Bold 24px/35px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.contentModalDaftar {
  padding-top: 25px;
  padding-bottom: 25px;
}

.btnDaftarPengusaha {
  border: 1px solid $warnaRed !important;
    color: $warnaRed !important;
    padding: 8px !important;
    width: 185px !important;
    height: 40px;
}

.btnDaftarPekerja {
  border: 1px solid $warnaRed !important;
    color: $warnaRed !important;
    padding: 8px !important;
    width: 185px !important;
    height: 40px;
}

.titleModalDaftarEmail {
  margin-left : auto;
  margin-right: auto;
  padding-top: 50px;
  text-align: center;
  font: Bold 28px/34px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.subtitleModalDaftarEmail {
  text-align: center;
  font: 20px/34px Roboto;
}

.btnDaftarMasuk {
   background-color:  $warnaRed !important;
    color: #FFFFFF !important;
    padding: 13px !important;
    width: 419px !important;
    height: 50px;
    font: bolder 18px/2px Montserrat;
}

.btnDaftarKembali {
  border: 1px solid  $warnaRed !important;
    color: $warnaRed !important;
    border-radius: 8px;
    opacity: 1;
    padding: 13px !important;
    width: 419px !important;
    height: 50px;
    font: bolder 18px/2px Montserrat;
    margin-top: -7px !important;
    margin-bottom: 25px;
}

.contentModalDaftar2 {
  padding-top: 25px;
  padding-bottom: 50px;
}

.navlogout {
  text-align: left;
font: 14px/17px Roboto;
letter-spacing: 0px;
color: #FFFFFF !important;
text-transform: uppercase;
opacity: 1;
padding-left: 200px !important;
}

.bgheadDashboard {
  background: url('assets/img/home/bgilustrasi.svg') no-repeat padding-box;
  background-position: top right -380px;
  background-size: contain;
  max-width: 100%;
  height: 1005px;
}

.menuHeadbar {
  background: #333333 0% 0% no-repeat padding-box !important;
  opacity: 1;
  margin-top: 40px !important;
  padding-left : 130px !important;
}

.ui.secondary.inverted.pointing.menu .active.item {
  border-color: $warnaRed !important;
}

.kontenKebPekerja {
  margin-top: 50px;
  width: 605px;
}

.judulkontenKebPekerja {
  text-align: left;
  font: bolder 20px/34px Poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.formKebPekerja {
  padding-top:19px;
  text-align: left;
  font: bolder 16px/19px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.btnUploadFile {
  background: #333333 0% 0% no-repeat padding-box !important;
  border: 1px solid #E9E9E9 !important;
  border-radius: 0px 4px 4px 0px !important;
}

.simpanKeb {
  margin-top: 30px;
  text-align: center;
  font: 16px/16px Roboto;
  letter-spacing: 0.48px;
  color : #FFFFFF !important;
  width: 227px;
  height: 40px;
  padding:8px !important;
  background: $warnaRed 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px #F2334E3D;
  border-radius: 6px !important;
  opacity: 1;
}

.textTambahLampiran {
  text-align: left;
  letter-spacing: 0px;
  color: rgba(0,0,0,.87) !important;
  opacity: 1;
  text-decoration: none;
}

.addKeahlian {
  width: 91% !important;
}

.imgdelfileKeahlian {
  background: none !important;
  padding: 0px 10px 0px 10px !important;
}

.delfileKeahlian {
  width: 100% !important;
  margin-bottom: -6px !important;
}

.radioText {
  text-align: left;
  font: 14px/17px Roboto !important;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.ui.four.cards.cardPaket {
  display: flex;
}

.ui.one.cards.cardPaketMobile {
  display: none;
}

.ui.four.cards.cardKontak {
  display: flex;
}

.ui.one.cards.cardKontakMobile {
  display: none;
}

.footerText {
  text-align: left;
}

.footerDesk {
  display: flex !important;
}

.footerMobile {
  display: none !important;
}