.body {
  background-image: -webkit-gradient(linear, left top, right top, from(#00FFFF), to(yellow));
  background-image: linear-gradient(to right, #00FFFF, yellow);
}
/*# sourceMappingURL=Login.css.map */